/**

 * @name Dark Custom Theme
 * @version 6.9
 * @description Darker custom theme.
 * @source https://www.walmart.com
 * @author kyle
 * @donate https://i.imgur.com/UbIm2sU.png
 * @updateUrl https://raw.githubusercontent.com/kyle-98/themes/main/main-theme/darkcustom.theme.css
**/

@import url("https://kyle-98.github.io/themes/extras/extra.css");

:root {
    --background-image: url('https://i.imgur.com/F1ib7Go.jpg');
    --background-blur: 5px;
    --background-darken: 1;

    /* https://www.hexcolortool.com/ */

    /* change the color of user popout playing */
    --spotify-color: #417e56d5;
    --game-color:  #626d97d5;
    --xbox-color: #226622d5;
    --twitch-color: #5a477ad5;

    /* badge/notification color*/
    --badge-color: #f04747a9;

    /* image next to wordmark (leave blank to remove) */
    --wordmark-image: url('https://i.imgur.com/sfRFzgw.png');

    /* Image for connection to server (leave both blank to have default)*/
    --connect-image: url('https://cdn.discordapp.com/emojis/685208553249701900.png?v=1');
    --connect-disable: none; 

    /* Sidebar Width (240px is default) */
    --sidebar-width: 240px;

    /* Sidebar width (members list) (240 is default) */
    --members-width: 240px;

    /*Discord Nitro Billing Bullshit (To enable nitro change to block) */
    --nitro-garbage: none;

    /* Channel Sidebar Header Color */
    --channel-sidebar-header: white;
    
    /* Change your custom profile background (search " data-user-id " in this document and change to your discord id for this to work) */
    --profile-background: url("https://i.imgur.com/tmGWX8X.png");
}


