/**

 * @name Dark Custom Theme
 * @version 6.9
 * @description Darker custom theme.
 * @source https://www.walmart.com
 * @author kyle
 * @donate https://i.imgur.com/UbIm2sU.png
**/

@import url("https://kyle-98.github.io/themes/extras/extra.css");

:root {
    --background-image: url('https://wallpapercave.com/wp/wp4862612.jpg');
    --background-blur: 5px;
    --background-darken: .5;
    /* change the color of user popout playing */
    --spotify-color: #417e56d5;
    --game-color:  #626d97d5;
    --xbox-color: #226622d5;
    --twitch-color: #5a477ad5;

    /* image next to wordmark (leave blank to remove) */
    --wordmark-image: url('https://i.imgur.com/qOvxhS4.png');

}


