:root {
    --warning-red: rgb(237, 74, 82);
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: rgba(0,0,0,.1);
    --background-secondary-alt: #292b2f;
    --background-tertiary: var(--dark-transparent);
    --background-accent: #4f545c;
    --background-floating: rgba(0,0,0,.7);
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --channeltextarea-background: rgba(0,0,0, .3);
    --profile-gradient-primary-color:  rgba(0,0,0, .6) !important;
    --profile-gradient-secondary-color:  rgba(0,0,0, .6) !important;
}

/* main app background */
#app-mount .layers__960e4::before{
    content: "";
    
    background: var(--background-image);
    height: calc(100vh + (var(--background-blur)) * 2);
    width: calc(100vw + (var(--background-blur)) * 2);    
    background-position: center;
    background-size: cover;
    filter: blur(var(--background-blur)) brightness(var(--background-darken));
}

/* Text Drop Shadow */
#app-mount
    .header__14245                          /* Text header for server names in sticker and emoji picker */
{
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 1) !important;
    background: rgba(0,0,0,0.05) !important;
}

/* Transparent Background */
#app-mount 
    .upsell_ac65bb,                          /* Upsell for nitro in stickers popout */
    .wrapper__14245,                         /* Header for server names (stickers and emojis) */
    [class*="header"],                       /* Modal/Popout headers */
    .emojiPicker_c0e32c,
    [class^="react-datepicker"],             /* React date pickers */
    [class*="recentMentionsPopout"],
    .messages__1ccd1,                        /* Unread messages */
    .guilds__5e434,                           /* Servers sidebar */
    .chat_f75fb0,                           /* Main chat container window */
    .content_f75fb0,                         /* Main chat container window (2) */
    .container_c8ffbb,                      /* Members list container */
    .members_c8ffbb,                         /* Members list */
    .member_c8ffbb,                          /* Individual member name plate (outside of nitro cosmetics) */
    .container__01ae2,
    .channelTextArea_f75fb0,
    .stackedBars__74017,
    .clipContainer__841c8,
    .layer__59d0d,
    .size-xl__8a031,
    .sectionContainer__61424,
    .soundButtonWrapper__9be63,             /* Soundboard wrapper */
    .progress__06283,                        /* Krisp mic test indicators */
    .graphContainer_effb26,                  /* Voice channel connection graph */
    .inner_c0bea0,
    .content_e9e3ed,                        /* Settings popout main content */
    .contentHeader_e9e3ed,                   /* Settings popout header */
    .standardSidebarView__23e6b,            /* Server settings (server options sidebar) */
    .sidebarRegionScroller__23e6b,          /* Server settings (server options region sidebar) */
    .contentRegion__23e6b,                  /* Server settings (content options region) */
    .contentRegionScroller__23e6b,           /* Server settings (content options scroller region) */
    .container__89463,                      /* Server boost rewards (server boost management) */
    .contentContainer__89463,               /* Server boost rewards (server boost management. This is the indvidual cards for each reward) */
    .sidebarContainer__89463,               /* Server boost count (server boost management) */
    .content_a8c622,                         /* Payment modal for boosting server */
    .privateChannels_e6b769,                /* Active dm list */
    .scroller__53543,                        /* Scroll container for rolls/members in channel settings */
    [class*="guildSection"],
    [class*="tabBody"],
    [class^="tutorialContainer"]
{
    background-color: transparent !important;
}

/* Dark Background */
#app-mount
    .selectDropdown__5fa2f                 /* Poll Time DropDown */
{
    background-color: var(--black-80) !important;
}

/* Medium Background */
#app-mount
    .container__2637a,                  /* Channels list */
    [class^="chatContent"],              /* Chat background */
    .themed__9293f,
    .container_fb64c9,                   /* Thread background */
    .soundButton__9be63,
    .pageBody__41ed7,                    /* Browse channels main content background */
    .scroller__99e7c,
    .container__133bf,
    .nowPlayingColumn__133bf,
    .searchResultsWrap_a98f3b,
    .container__16eb0
{
    background-color: var(--black-10) !important;
}


/* Glass effect no borders */
#app-mount 
    .wrapper__4e6ce,                        /* Emoji picker (servers list) */
    [class^="unicodeShortcut"],             /* Emoji picker (shortcut to default emojis) */
    [class^="inspector"],                   /* Emoji picker (selected emoji information) */
    .standardStickerShortcut__3ad28,        /* Sticker shortcut */
    .wrapper_b1e4f3,                        /* Slash command auto complete (app select) */
    .container_fed6d3,                      /* Body of sticker picker */
    .header_fed6d3,                         /* Header for sticker picker */
    .selectDropdown__5fa2f,                 /* Poll time select dropdown */
    [class*="searchableSelect"],
    [class*="footerSeparator"],              /* Footer for modal/popouts */
    [class*="messageContainer"],
    .container__0f711,                       /* Inbox for you container */
    .container__2637,                       /* Server channels sidebar */
    [class*="messageGroupWrapper"],         /* Pinned messages (message embed) */
    .footer_a55fdc,
    .outer_ab8609,
    .inner_ab8609,
    .popout_a16aea,
    [class*="channelRow"],
    .content__908e2,
    .card__88264,
    .cardFolder__1a4ef,                  /* Roles in channel settings */
    .card_b651ff,                        /* Permission sync for roles notification in channel settings */
    .body__6da2d
{
    background: var(--glass-bg) !important;
    backdrop-filter: var(--glass-blur);
}


/* Glass Effect w Rounded Corners and Background */
#app-mount 
    .container__8a031,                      /* Poll creation modal */
    [class^="contentWrapper"],              /* Content wrappers */
    .autocomplete__13533,                   /* Autocomplete text (slash commands, emojis, etc) */
    .menu_c1e9c4,                           /* Menu Dropdowns */
    .emojiPicker__7b848,                    /* Emoji picker for poll */
    [class^="root"],
    [class*="calendarPicker"],
    .wrapper_c0e32c,                         /* Emoji picker for channel/category popout */
    .container_fc561d,
    [class*="channelHeader"],
    .messagesPopoutWrap_e8b59c,              /* Pinned messages popout */
    .container_d9c882,                       /* Threads popout (in text channel) */
    .popover_f84418,                        /* Message quick actions (react, reply, etc) */
    .themedBackground__74017,                /* Chat bar background */
    .replyBar__841c8,                       /* Reply bar above text bar */
    .tooltip__4e35b,                        /* Tool tip for hovering (server, buttons, etc) */
    .searchToken_bd8186,                    /* Search token in search bar (from, has, contains, etc) */
    .panels__5e434,
    .picker__09f65,                         /* Soundboard background picker */
    [class*="noiseCancellationPopout"],
    .container__50387,
    .user-profile-popout,                   /* Small user popout */
    .container__50e22,                      /* Container for changing status in small popout */
    .user-profile-modal-v2,                 /* Large user popout */
    .profile__9c3be,                        /* Profile display in large user popout */
    .card__39ec2,                            /* Cards within large user popout */
    .menuOverlay_ce8328,                     /* Buttons on profile card when clicking username on bottom left */
    [class*="auditLog"],
    .customColorPicker__459fb,
    [class*="mainTableContainer"],
    .container__5573a,
    .prompt__5d7c9,                          /* Customization questions (Channels & Roles) */
    .profileCard__5d7c9,                     /* Profile card (Channels & Roles, Customization Question) */
    .actionButtons_cc1819,                  /* Buttons when clicking on image in chat */
    .button_aec7ab,                          /* Close button when clicking on image in chat */
    [class*="embedFull"],
    .wrapper__44df5,
    [class*="wrapperAudio"],
    .container_dca174,
    .row_d13feb,                            /* Row item on server onboarding/guide */
    .reactionTooltip_b49891,                 /* Message reaction tooltip */
    [class*="cardPrimary"],
    .popoutContainer__0f481,
    [class*="streamPreview"],
    .user-profile-modal,                     /* Old profile popout view (for apps/bots) */
    .itemCard__7e549,
    .menu_c1e9c4,
    .container__16eb0,
    .searchResult__80bf8
{
    background: var(--glass-bg) !important;
    border: var(--glass-border);
    border-top: var(--glass-border-top);
    box-shadow: var(--glass-shadow);
    border-radius: 8px;
}



#app-mount 
    .container__8a031::before,                      /* Poll creation modal */
    [class^="contentWrapper"]::before,              /* Content wrappers */
    .autocomplete__13533::before,                   /* Autocomplete text (slash commands, emojis, etc) */
    .menu_c1e9c4::before,                           /* Menu Dropdowns */
    .emojiPicker__7b848::before,                    /* Emoji picker for poll */
    [class*="root"]::before,
    [class*="calendarPicker"]::before,
    .wrapper_c0e32c::before,                         /* Emoji picker for channel/category popout */
    .container_fc561d::before,
    [class*="channelHeader"]::before,
    .messagesPopoutWrap_e8b59c::before,              /* Pinned messages popout */
    .container_d9c882::before,                       /* Threads popout (in text channel) */
    .popover_f84418::before,                        /* Message quick actions (react, reply, etc) */
    .themedBackground__74017::before,                /* Chat bar background */
    .replyBar__841c8::before,                       /* Reply bar above text bar */
    .tooltip__4e35b::before,                        /* Tool tip for hovering (server, buttons, etc) */
    .searchToken_bd8186::before,                    /* Search token in search bar (from, has, contains, etc) */
    .panels__5e434::before,
    .picker__09f65::before,                         /* Soundboard background picker */
    [class*="noiseCancellationPopout"]::before,
    .container__50387::before,
    .user-profile-popout::before,                   /* Small user popout */
    .container__50e22::before,                      /* Container for changing status in small popout */
    .user-profile-modal-v2::before,                 /* Large user popout */
    .profile__9c3be::before,                        /* Profile display in large user popout */
    .card__39ec2::before,                            /* Cards within large user popout */
    .menuOverlay_ce8328::before,                     /* Buttons on profile card when clicking username on bottom left */
    [class*="auditLog"]::before,
    .customColorPicker__459fb::before,
    [class*="mainTableContainer"]::before,
    .container__5573a::before,
    .prompt__5d7c9::before,                          /* Customization questions (Channels & Roles) */
    .profileCard__5d7c9::before,                     /* Profile card (Channels & Roles, Customization Question) */
    .actionButtons_cc1819::before,                  /* Buttons when clicking on image in chat */
    .button_aec7ab::before,                          /* Close button when clicking on image in chat */
    [class*="embedFull"]::before,
    .wrapper__44df5::before,
    [class*="wrapperAudio"]::before,
    .container_dca174::before,
    .row_d13feb::before,                            /* Row item on server onboarding/guide */
    .reactionTooltip_b49891::before,                 /* Message reaction tooltip */
    [class*="cardPrimary"]::before,
    .popoutContainer__0f481::before,
    [class*="streamPreview"]::before,
    .user-profile-modal::before,                     /* Old profile popout view (for apps/bots) */
    .itemCard__7e549::before,
    .menu_c1e9c4::before,
    .container__16eb0::before,
    .searchResult__80bf8::before

{
    content: "";
    position: absolute;
    backdrop-filter: var(--glass-blur);
    border-radius: inherit;
}


/* Remove Elements */
#app-mount 
    .children__9293f:after,              /* Current text channel gradient effect */
    .chatGradient__36d07,
    .formWithLoadedChatInput_f75fb0:before,
    .caretFill__4e35b,
    .sidebar__5e434:after,
    [class*="chatTypingGradient"]
{
    display:none;
}


#app-mount
    .root_e529a0,
    .root_a55fdc,
    .root__9c3be
{
    backdrop-filter: none !important;
    border: none !important;
    border-top: none !important;
    box-shadow: none !important;
    border-radius: none !important;
}