:root {
    --dark-transparent: rgba(0,0,0,.3);
    --spotify-color: #1db95479;
    --game-color:  #7289da79;
    --wordmark-image: url('https://i.imgur.com/qOvxhS4.png');
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: red;
    --background-secondary: rgba(0,0,0,.7);
    --background-secondary-alt: #292b2f;
    --background-tertiary: var(--dark-transparent);
    --background-accent: #4f545c;
    --background-floating: #18191c;
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --channeltextarea-background: rgba(0,0,0, .3);
}

/* main app */
#app-mount .layers-3iHuyZ::before {
    content: "";
    background: var(--background-image);
    background-position: center;
    background-size: cover;
    height: calc(100vh + (var(--background-blur)) * 2);
    width: calc(100vw + (var(--background-blur)) * 2);
    filter: blur(var(--background-blur));
  }

#app-mount .panels-j1Uci_ {
    background-color: var(--dark-transparent);
}
#app-mount .container-1D34oG {
    background-color: transparent;
}
#app-mount .wordmarkWindows-1v0lYD {
    color:white;
    background-image: var(--wordmark-image);
    background-position:65px;
    background-size: 20%;
    background-repeat: no-repeat;
    width: 65px;
}
#app-mount .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: white;
    color:black;
}
#app-mount .container-1D34oG {
    background-color: transparent;
}

/* Dynamic Scrollbar */
#app-mount .auto-Ge5KZx::-webkit-scrollbar-thumb, .auto-Ge5KZx::-webkit-scrollbar-track {
    background-color: var(--dark-transparent);
}

/* User popouts */
#app-mount .headerNormal-T_seeN {
    background-color: rgba(0,0,0,.8);
}
#app-mount .body-3iLsc4 {
    background-color: rgba(0,0,0,.7)
}
#app-mount .footer-1fjuF6 {
    background-color: rgba(0,0,0,.7);
}
#app-mount .protip-YaFfgO {
    visibility: hidden;
    margin-bottom: -15px;
}
#app-mount .headerSpotify-zpWxgT {
    background: var(--spotify-color);
}
#app-mount .headerPlaying-j0WQBV {
    background: var(--game-color);
}
#app-mount .container-3XJ8ns {
    background-color: rgba(0,0,0,.9);
}

/* Upload Area */
#app-mount .uploadModal-2ifh8j {
    background-color: rgba(0,0,0,.8)
}
#app-mount .uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx {
    background-color: rgba(14, 14, 14, 0.9);
}
#app-mount .uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
    background-color: rgba(0,0,0,.8)
}

/* Nitro Tab */
#app-mount .applicationStore-1pNvnv {
    background-color: var(--dark-transparent);
}
#app-mount .buttonText-3LvUCc {
    visibility: hidden;
    margin: -60px;
    margin-right: 10px;
    padding: 5px;
}
#app-mount .buttonText-3LvUCc:after{
    content:"This is a scam";
    visibility: visible;  
}

/* emoji picker */
#app-mount .inspector-S2gM3e {
    background-color: var(--dark-transparent);
}
#app-mount .emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color:rgba(41, 38, 38, 0.9);
}

/* Emoji auto complete */
#app-mount .autocomplete-1vrmpx {
    background-color: rgba(0,0,0,.9);
}

/*Folder settings */
#app-mount .root-1gCeng {
    background-color: rgba(0,0,0,.7);
}
#app-mount .footer-2gL1pp {
    background-color: rgba(0,0,0,.7);
}
/* color picker */
#app-mount .colorPickerCustom-2CWBn2 {
    background-color: rgba(0,0,0,.9);
}


/* get rid of shitty gift button */
#app-mount .buttons-3JBrkn [aria-label="Send a gift"]{
    display: none !important;
}

/* Create Server */
#app-mount .colorHeaderPrimary-26Jzh- {
    color: white;
}
#app-mount .colorHeaderSecondary-3Sp3Ft {
    color: white;
}
#app-mount .close-hZ94c6 {
    color:white;
}
#app-mount .colorStandard-2KCXvj {
    color:white;
}
#app-mount .container-UC8Ug1 {
    background-color: rgba(14, 13, 13, 0.8)
}

/* Explore tab */
#app-mount .pageWrapper-1PgVDX {
    background-color: transparent;
}
#app-mount .menu-3sdvDG {
    background-color:rgba(0, 0, 0, 1)
}

/* now playing (friend's list) */
#app-mount .nowPlayingColumn-2sl4cE {
    background-color: var(--dark-transparent);
}
#app-mount .inset-3sAvek {
    background-color: rgba(0,0,0,.9);
}
#app-mount .itemCard-v9viV7:first-of-type {
    background-color: rgba(0,0,0,.3);
}

/* members list */
#app-mount .addMembersButton-1eG9YC {
    display: none;
}
