:root {
    --dark-transparent: rgba(0,0,0,.3);
    --warning-red: rgb(237, 74, 82);
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: rgba(0,0,0,.1);
    --background-secondary-alt: #292b2f;
    --background-tertiary: var(--dark-transparent);
    --background-accent: #4f545c;
    --background-floating: rgba(0,0,0,.7);
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --channeltextarea-background: rgba(0,0,0, .3);
    --profile-gradient-primary-color:  rgba(0,0,0, .6) !important;
    --profile-gradient-secondary-color:  rgba(0,0,0, .6) !important;
}

/* main app */
#app-mount .layers_d4b6c5::before {
    content: "";
    background: var(--background-image);
    height: calc(100vh + (var(--background-blur)) * 2);
    width: calc(100vw + (var(--background-blur)) * 2);    
    background-position: center;
    background-size: cover;
    filter: blur(var(--background-blur)) brightness(var(--background-darken));
  }

#app-mount .panels_a4d4d9 {
    background-color: var(--dark-transparent);
}
#app-mount .container_c2739c {
    background-color: transparent;
}
#app-mount .wordmarkWindows_a934d8 {
    color:white;
    background-image: var(--wordmark-image);
    background-position:5px;
    background-size: 20%;
    background-repeat: no-repeat;
    width: 65px;
}
#app-mount .wrapper__8436d:hover .childWrapper_a6ce15, .wrapper__8436d.selected_ae80f7 .childWrapper_a6ce15 {
    background-color: rgba(255, 255, 255, 0.8);
    color:rgba(0, 0, 0, 0.9);
}
#app-mount .container_c2739c {
    background-color: transparent;
}

/* Dynamic Scrollbar */
#app-mount .auto-2K3UW5::-webkit-scrollbar-thumb, .auto-2K3UW5::-webkit-scrollbar-track {
    background-color: var(--dark-transparent);
}

/* User popouts */
#app-mount .headerNormal-T_seeN {
    background-color: rgba(0,0,0,.8);
}
#app-mount .footer-1fjuF6 {
    background-color: rgba(0,0,0,.9);
}
#app-mount .protip-YaFfgO {
    visibility: hidden;
    margin-bottom: -15px;
}
#app-mount .headerSpotify-zpWxgT {
    background: var(--spotify-color);
}
#app-mount .headerPlaying-j0WQBV {
    background: var(--game-color);
}
#app-mount .container-2O1UgZ {
    background-color: rgba(0, 0, 0, 0.952);
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.082);
}
#app-mount .inner__999f6 {
    /* background-color: rgba(255, 255, 255, 0.055); */
    background-color: rgba(0, 0, 0, 0.2);
}
#app-mount .headerXbox-3G-4PF {
    background: var(--xbox-color);
}
#app-mount .headerStreaming-2FjmGz {
    background: var(--twitch-color);
}
#app-mount .avatar-22FtUu {
    background-color: rgba(0, 0, 0, 0.315);
}
#app-mount .textarea_dde0a8 {
    background-color: rgba(255, 255, 255, 0.034);
}
#app-mount .input-2g-os5.focused-1AtTHC, .input-2g-os5:focus {
    border-color: rgba(255, 255, 255, 0.507);
}
#app-mount .input_df4dd0 {
    background-color: rgba(255, 255, 255, 0.068); 
}
#app-mount .headerTop-3GPUSF {
    background-color: rgba(0, 0, 0, 0.8);
}
#app-mount .customStatus-3XAoF9 {
    /*background-color: rgba(0, 0, 0, 0.8); */
}
#app-mount .aboutMeSection-PUghFQ {
    /*background-color: rgba(0, 0, 0, 0.8);*/
}
#app-mount .body-2wLx-E {
    background-color: rgba(0, 0, 0, 0.8);
}
#app-mount .bodyInnerWrapper-2bQs1k {
    background-color:  rgba(0, 0, 0, 0);
}

/* Upload Area */
#app-mount .uploadModal_f82cc7 {
    background-color: rgba(0,0,0,.2)
}
#app-mount .uploadModal_f82cc7 .inner_f82cc7 .channelTextAreaUpload_f82cc7 {
    background-color: rgba(14, 14, 14, .4);
}
#app-mount .uploadModal_f82cc7 .footer_f82cc7.hasSpoilers_f82cc7 {
    background-color: rgba(0,0,0,.2)
}

/* Nitro Tab */
#app-mount .applicationStore_cecc86 {
    background-color: var(--dark-transparent);
}
#app-mount .buttonText_af971d {
    visibility: hidden;
    margin: -60px;
    margin-right: 10px;
    padding: 5px;
}
#app-mount .buttonText_af971d:after{
    content:"This is a scam";
    visibility: visible;  
    display: block;
    position: absolute;
    top: 27%;
    left: 25%;
}

#app-mount .premiumIcon_af971d{
    display: none;
}
#app-mount .giftIcon_af971d{
    display: none;
}

/* emoji picker */
#app-mount .inspector_c6ee36 {
    background-color: rgba(0,0,0,.4);
}
#app-mount .emojiItem_fbfedd.emojiItemSelected_fbfedd {
    background-color:rgba(53, 53, 53, 0.7);
}
#app-mount .emojiPickerInExpressionPicker-2nOwH8 .emojiPicker_c6ee36 {
    background-color: var(--dark-transparent);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}
#app-mount .contentWrapper_af5dbb {
    background-color: rgba(0,0,0,.8);
}
/* Emoji auto complete */
#app-mount .autocomplete_f23da8 {
    background-color: rgba(0,0,0,.9);
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
}

/*Folder settings */
#app-mount .root_f9a4c9 {
    background-color: rgba(0,0,0,.2);
}
#app-mount .footer-31IekZ {
    background-color: rgba(0,0,0,.2);
}
/* color picker */
#app-mount .colorPickerCustom-1swUKF {
    background-color: rgba(0,0,0,.2);
}


/* get rid of shitty gift button */
#app-mount .buttons_d0696b [aria-label="Send a gift or Boost this server"]{
    display: none !important;
}

#app-mount .buttons_d0696b [aria-label="Send a gift"]{
    display: none !important;
}

/* Create Server */
#app-mount .colorHeaderPrimary-jN_yGr {
    color: white;
}
#app-mount .colorHeaderSecondary-g5teka {
    color: white;
}
#app-mount .close-1mLglB {
    color:white;
}
#app-mount .colorStandard-21JIj7 {
    color:white;
}
#app-mount .container-x8Y1ix {
    background-color: rgba(14, 13, 13, 0.4)
}

/* Explore tab */
#app-mount .pageWrapper_a3a4ce {
    background-color: transparent;
}
#app-mount .menu_d90b3d {
    background-color:rgba(0, 0, 0, .9);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

/* now playing (friend's list) */
#app-mount .nowPlayingColumn_c2739c {
    background-color: var(--dark-transparent);
}
#app-mount .inset_c0f6a6 {
    background-color: rgba(0,0,0,.9);
}
#app-mount .itemCard_f02fcf:first-of-type {
    background-color: rgba(0,0,0,.3);
}

/* members list */
#app-mount .addMembersButton_b7fc42 {
    display: none;
}

/* Search bar (slightly busted) */
#app-mount .container_eedf95 {
    background-color: rgba(0,0,0,.5);
}
#app-mount .calendarPicker__47c85 .react-datepicker {
    background-color: rgba(0,0,0,.9);
}
#app-mount .calendarPicker__47c85 .react-datepicker__header {
    background-color: transparent;
}
#app-mount .calendarPicker__47c85 .react-datepicker__day--outside-month {
    background-color: rgba(0,0,0,.5);
}
#app-mount .focused_eedf95{
    background-color: rgba(0,0,0,.5);
}
#app-mount .datePicker-70cO23 .datePickerHint-17MnA8 {
    background-color: rgba(0,0,0,.9);
    
}

/*Connection Indicator */
#app-mount .ping_c0cb95{
    background: var(--connect-image) 100% no-repeat;
    background-size: 25px;
    padding: 5px;
    padding-left: 10px;  
}
#app-mount .rtcConnectionQualityFine_c0cb95 .pingForeground_c0cb95 {
    display: var(--connect-disable);
}

#app-mount .numberBadge__40d6f {
    background-color: var(--badge-color) !important;
}

/* Sidebar Width (channels) */
#app-mount .sidebar_a4d4d9   {
    width: var(--sidebar-width); 
}

/* side width (users) */
#app-mount .membersWrap_cbd271{
    width: var(--members-width);
    min-width: 0px;
}
#app-mount .members_cbd271, .members_cbd271>div {
    width: var(--members-width);
}

#app-mount .tooltipPointer-3L49xb {
    border-top-color: rgba(0,0,0,.4);
}

#app-mount .tooltip-14MtrL {
    background-color: rgba(0,0,0, .8);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

#app-mount .jumpToPresentBar_cf58b5 {
    background-color: rgba(0 ,0, 0, .6);
    box-shadow: 1px -8px 12px -4px rgba(0 ,0, 0, .8);
}

#app-mount .card_ffe375:before {
    background-color: var(--dark-transparent);
    border-color:  rgba(0, 0, 0, .6);
}
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: rgba(0, 0, 0, .3);
}

#app-mount .link_c91bad[href="/store"],[href="/shop"] {
    display: var(--nitro-garbage);
}

#app-mount .item-3XjbnG[aria-controls="Discord Nitro-tab"], [aria-controls="Billing-tab"], [aria-controls="Nitro Server Boost-tab"] {
    display: var(--nitro-garbage);
}


/*Channels Sidebar */
#app-mount .name_a08117 {
    color:var(--channel-sidebar-header);
}

/* Server Dropdown Settings */
#app-mount .item-1OdjEX[id="guild-header-popout-premium-subscribe"] {
    margin-top: -40px;
}

#app-mount .icon_e44302 {
    color: white;
}

/*Search Bar Things */
#app-mount .resultsGroup-1BPR25 {
    background-color: rgba(0,0,0,.8);
}
#app-mount .option-2KkUJO:after {
    background-color:transparent;
    background-image: none;
}
#app-mount .option-2KkUJO.selected-rZcOL- {
    background-color: #5c6fb1;
}
#app-mount .searchAnswer_b0fa94, .theme-dark .searchFilter_b0fa94 {
    background-color: #5c6fb1;
}

#app-mount .activity-fViXj7 {
    background-color: rgba(0,0,0,.7)
}

#app-mount .cozy_ec86aa .timestamp_ec86aa {
    color:rgb(214, 214, 214);
}

#app-mount .messagesPopout_ac90a2 {
    background-color: rgba(0 ,0, 0, .9);
}
#app-mount .header_ac90a2 {
    background-color: rgba(0 ,0, 0, .8);
}

#app-mount .accountList-305sx3 {
    background-color: rgba(0 ,0, 0, .4);
}
#app-mount .connectionHeader-2rV1ze {
    background-color: rgba(0 ,0, 0, .4);
}
#app-mount .connectionOptionsWrapper-1ipqUo {
    background-color: rgba(0 ,0, 0, .2);
}
#app-mount .integrationsWrapper-3a2pGd {
    background-color: rgba(0 ,0, 0, .2);
}
#app-mount .integration-1f5IUi {
    background-color: rgba(0 ,0, 0, .4);
}

/*Remove Thread near Upload Modal */
#app-mount .item-1OdjEX[id="channel-attach-THREAD"] {
    display: none;
}

/* Remove Gif Text Under Gifs */
#app-mount .altText_cf58b5{
    display: none;
}

/* Threads popout fix */
#app-mount .browser_f542fc{
    background-color:  rgba(0,0,0,.8);
    border-radius: 5px;
}

/* background for pinned & inbox */
#app-mount .messagesPopoutWrap_ac90a2{
    background-color:  rgba(0,0,0,.8);
}

/* Headers for Inbox Messages */
#app-mount .channelHeader_f3978e{
    background-color:  rgba(0,0,0,.8);
    border-radius: 10px;
}

/* fix settings background brightness */
#app-mount .standardSidebarView_c25c6d{
    background-color: rgba(0,0,0,.4);
}

/* Gif and emote picker background */
#app-mount .contentWrapper_af5dbb{
    background-color:  rgba(0,0,0,.8);
}

/* fix emojis in custom status */
#app-mount .body-2wLx-E{
    padding-top: 5px;
}

/* Fix for auto complete darkness */
#app-mount .scroller_bea0d0[data-list-id="channel-autocomplete"]{
    background-color:  rgba(0,0,0,.6);
}

/* Delete Sticker picker in emote menu */
#app-mount .navButton_af5dbb[id="sticker-picker-tab"]{
    display:  none;
}

#app-mount .anchor-1MIwyf[href="https://support.discord.com"]{
    display: none;
}

#app-mount .closeIcon_c91bad path{
    fill: var(--warning-red) !important;
}

#app-mount .colorDefault-CDqZdO[id="user-context-block"],[id="user-context-remove-friend"]{
    color:  var(--warning-red);
}

#app-mount .member_cbd271{
    background-color: transparent;
}

/*profile and other user settings */

#app-mount .bioTextArea_ccf27d {
    background-color: rgba(0,0,0,0.3);
}

#app-mount .colorPickerCustom-1swUKF[role="dialog"]{
    background-color: rgba(0, 0, 0, 0.8);
}

#app-mount .input-2g-os5{
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.2);
}

#app-mount .status-b9jLr4{
    background: rgba(0, 0, 0, 0.8);
}

#app-mount h3[data-text-variant="heading-xl/bold"]{
    visibility: hidden;
}

#app-mount h3[data-text-variant="heading-xl/bold"]:after{
    content: "Don't Try Out Nitro!";
    visibility: visible;
    display: block;
    position: absolute;
    top: -1%;
}

#app-mount .connectContainer_e2a436{
    background-color: rgba(0, 0, 0, 0.4);
}

#app-mount h3[data-text-variant="heading-md/bold"]{
    visibility: hidden;
}

#app-mount h3[data-text-variant="heading-md/bold"]:after{
    visibility: visible;
    content: "Add accounts to your profile to dox yourself!";
    position: absolute;
    left: 8%;
}

#app-mount .connectionHeader_e2a436{
    background-color: rgba(0, 0, 0, 0.4);
}

#app-mount .connectionDelete_e2a436{
    color: var(--warning-red);
}

#app-mount .integrationWrapper_e2a436{
    background: rgba(0,0,0,0.4);
}

#app-mount .paymentPane_f66684{
    background-color: rgba(0, 0, 0, 0.4);
}

#app-mount .paginator_f66684[data-list-id="billing-history"]{
    background: rgba(0,0,0,0.4);
}

#app-mount .payment_a28a08{
    background-color: transparent;
}

#app-mount .codeRedemptionRedirect_cb70f4{
    background-color: rgba(0,0,0,0.4);
}

/* more server settings */
#app-mount .lookFilled-1GseHa.select-1Ia3hD{
    background-color: rgba(0, 0, 0, 0.6);
}

#app-mount .popout-1KHNAq[role="listbox"]{
    background-color: rgba(0, 0, 0, 0.95);
}

#app-mount .emojiPicker_c6ee36{
    background-color: rgba(0, 0, 0, 0.7);
}

#app-mount .header_c6ee36{
    background-color: rgba(0, 0, 0, 0.7);
}

/* Browse Channels Tab */
#app-mount .container_c2efea{
    background-color: transparent;
}
#app-mount .container_f1fd9c, .header_f1fd9c{
    background-color: rgba(0, 0, 0, 0.1) !important;
}

#app-mount .innerHeader_f1fd9c:after, .children_e44302:after{
    display: none;
}
#app-mount .lookOutlined-3yKVGo.colorPrimary-2AuQVo:hover{
    background-color: rgba(0, 0, 0, 0.3);
}

/* Server Pill */
#app-mount .communityInfoPill_fd6364{
    background: rgba(0, 0, 0, .75);
}

/* # of members in voice channels */
#app-mount .bar_eba0ba{
    background-color: rgba(0, 0, 0, .75);
}

/* Customize Community Tab */
#app-mount .emptyPage_c6b11b, .theme-dark .scrollerContainer_c6b11b{
    background-color: rgba(0, 0, 0, 0.2) !important;
}

#app-mount .container_b2ca13{
    background-color: rgba(0,0,0,0.2)
}

#app-mount .container_adcaac{
    background-color: rgba(0,0,0,0.2);
}

#app-mount .panel_bf1a22{
    background-color: rgba(0,0,0,0.2)
}

/* Streaming Popout modal */
#app-mount .root_f9a4c9{
    background-color: rgba(0,0,0,0.2);
}

#app-mount .footer_f9a4c9{
    background-color: transparent;
}

#app-mount .modalHeader-X-sQsB{
    padding-bottom: .5px;
}

/*Edit file upload popout modal */
#app-mount .input_f8bc55{
    background-color: rgba(0, 0, 0, .5);
    border: solid;
    border-color: rgba(55, 55, 55, .3);
    border-radius: 3px;
}

#app-mount .footer_f82cc7{
    background-color: rgba(0, 0, 0, .5);
}

/* Channel Permission Settings */
#app-mount .settingCard-xZSDjS.active-3EK-ed{
    background-color: rgba(0, 0, 0, .5);
}

/* Popup context menu for right clicking */
#app-mount .menu_d90b3d{
    background-color: rgba(0, 0, 0, .8);
}

/* Delete Super Reaction Garbage */
#app-mount .button_ef319f[aria-label="Add Super Reaction"]{
    display: none;
}

/* Role picker on user popout */
#app-mount .container_ac201b{
    background-color: rgba(0, 0, 0, .9);
}

/* Selection menus */
#app-mount .popout_f6639d{
    background-color:rgba(0,0,0, .9);
}
#app-mount .lookFilled_f6639d.select_f6639d{
    background-color:rgba(0,0,0, .5);
}

/* mute and profile, game playing, and connection status areas */
#app-mount .container_b2ca13{
    background-color: transparent;
}

#app-mount .panel_bf1a22 {
    background-color: transparent;
}

#app-mount .container_adcaac{
    background-color: transparent;
}

/* title bar */
#app-mount .wordmarkWindows_a934d8{
    /* change to whatever you want watermark image to be */
    background-image: var(--wordmark-image);
    background-size: contain;
    background-repeat: no-repeat; 
    padding-top: 3px;
    width: 100%;
}

#app-mount g[fill="currentColor"]{
    display: none;
}

#app-mount .typeWindows_a934d8{
    background-color: rgba(0, 0, 0, 0.5);
    margin: 0px;
}

/* server onboarding */
#app-mount .background_e85cee {
    background: transparent;
}

#app-mount .title_e85cee{
    background-color: rgba(0, 0, 0, 0.45);
}

/* scroll bar for chats */
#app-mount .auto_eed6a8::-webkit-scrollbar-thumb{
    background-color: rgba(0, 0, 0, .7);
}

#app-mount .auto_eed6a8::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.4);
}

/* Vencord Settings */
#app-mount .vc-addon-card{
    background-color: rgba(0, 0, 0, 0.6);
}

/* Apps (in textbar) */
#app-mount .categoryHeader_fe2299{
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 8px;
}

/* bottom user selection (where mute and settings icons are) */
#app-mount .container_b2ca13{
    background-color: rgba(0, 0, 0, 0.3);
}

/* remove sticker tab in emoji picker */
#app-mount .stickersNavItem_af5dbb{
    display: none;
}
#app-mount .navItem_af5dbb+.navItem_af5dbb[id="sticker-picker-tab"]{
    display: none;
}

/* remove gift button from chat window */
#app-mount .button_dd4f85.lookBlank_dd4f85.colorBrand_dd4f85.grow_dd4f85[aria-label="Send a gift"]{
    display: none;
}

/* remove sticker button from chat window */
#app-mount .button_dd4f85.lookBlank_dd4f85.colorBrand_dd4f85.grow_dd4f85[aria-label="Open sticker picker"]{
    display: none;
}

#app-mount .typeWindows_a934d8{
    background-color: rgba(0, 0, 0, 0.5);
}

#app-mount .replyBar_b11c5e{
    background-color: rgba(0, 0, 0, 0.5)
}

#app-mount .footerSeparator_f9a4c9{
    background-color: rgba(0 ,0, 0, .5);
}

#app-mount .focusLock_f9a4c9{
    background-color: rgba(0 ,0, 0, .5);
}

/* dm call UI */
#app-mount .container_adcaac{
    background-color: rgba(0 ,0, 0, .2);
}

#app-mount .wrapper_d880dc.minimum_d880dc{
    background-color: rgba(0 ,0, 0, .6);
}

#app-mount .colorable_ef18ee.primaryDark_ef18ee, .colorable_ef18ee.primaryDark_ef18ee .centerIcon_ef18ee{
    background-color: rgba(63, 63, 63, 0.5);
}
#app-mount .centerIcon_ef18ee{
    background-color: transparent !important;
}

#app-mount .quickSelectPopout__56a98{
    background-color: rgba(0 ,0, 0, .8);
}

#app-mount .input_f8bc55{
    background-color: rgba(0 ,0, 0, .6);
}

/* message preview when attempting to delete message */
#app-mount .message_ddcc45{
    background-color: rgba(0 ,0, 0, .8);
}

/* modifying an attachment */
#app-mount .footer_f82cc7{
    background-color: rgba(0 ,0, 0, .8);
}

/* choose new pfp ui */
#app-mount .optionBox_f2f431{
    background-color: rgba(41, 41, 41, 0.5);
}

/* edit bio in user settings background */
#app-mount .bioTextArea_ccf27d{
    background-color: rgba(0 ,0, 0, .4);
}

/* pick profile banner color (color picker) */
#app-mount .customColorPicker_bbc020{
    background-color: rgba(0 ,0, 0, .8);
}

/* remove nitro/costmetic ad in editing profile */
#app-mount .container_da1432{
    display: none;
}

/* even creation GUI */
#app-mount .calendarPicker__47c85 .react-datepicker{
    background-color: rgba(0 ,0, 0, .8);
}
#app-mount .calendarPicker__47c85 .react-datepicker__header{
    background-color: rgba(0 ,0, 0, .8);
}
#app-mount .react-datepicker__day--outside-month{
    background-color: rgba(0 ,0, 0, .8);
}

#app-mount .react-datepicker__day--disabled{
    background-color: rgba(255, 60, 60, 0.171);
}

/* profile small popout */
#app-mount .biteSizeInnerThemed_c69a7b{
    background: rgba(0,0,0,0.8);
}

/* remove status bubble on profile (this looked ugly as shit) */
#app-mount .statusBubbleOuter_d0a252:after{
    display: none;
}

/* profile popout status */
#app-mount .statusBubbleOuter_d0a252:before{
    display: none;
}
#app-mount .statusBubble_d0a252{
    background: rgba(0,0,0,0.5);
}

#app-mount .statusBubbleOuter_d0a252{
    background: transparent;
}

#app-mount .lookFilled_dd4f85.colorPrimary_dd4f85{
    background: rgba(54, 54, 54, 0.5);
}

/* profile big popout */
#app-mount .fullSizeInnerThemed_c69a7b{
    background: transparent;
}

/* small bio on full popout */
#app-mount .fullSizeOverlayBackground_c69a7b{
    background: rgba(34, 34, 34, 0.5);
}

/* home icon in top left */
#app-mount .wrapper_f90abb.selected_f90abb .childWrapper_f90abb{
    background: rgba(0,0,0,0.5);
}