:root {
    --dark-transparent: rgba(0,0,0,.3);
}

.theme-dark {
    --header-primary: #fff;
    --header-secondary: #b9bbbe;
    --text-normal: #dcddde;
    --text-muted: #72767d;
    --text-link: #00b0f4;
    --channels-default: #8e9297;
    --interactive-normal: #b9bbbe;
    --interactive-hover: #dcddde;
    --interactive-active: #fff;
    --interactive-muted: #4f545c;
    --background-primary: transparent;
    --background-secondary: rgba(0,0,0,.1);
    --background-secondary-alt: #292b2f;
    --background-tertiary: var(--dark-transparent);
    --background-accent: #4f545c;
    --background-floating: rgba(0,0,0,.7);
    --background-mobile-primary: #36393f;
    --background-mobile-secondary: #2f3136;
    --background-modifier-hover: rgba(79,84,92,0.16);
    --background-modifier-active: rgba(79,84,92,0.24);
    --background-modifier-selected: rgba(79,84,92,0.32);
    --background-modifier-accent: hsla(0,0%,100%,0.06);
    --background-mentioned: rgba(250,166,26,0.05);
    --background-mentioned-hover: rgba(250,166,26,0.08);
    --background-message-hover: rgba(4,4,5,0.07);
    --background-help-warning: rgba(250,166,26,0.1);
    --background-help-info: rgba(0,176,244,0.1);
    --channeltextarea-background: rgba(0,0,0, .3);
}

/* main app */
#app-mount .layers-3iHuyZ::before {
    content: "";
    background: var(--background-image);
    height: calc(100vh + (var(--background-blur)) * 2);
    width: calc(100vw + (var(--background-blur)) * 2);    
    background-position: center;
    background-size: cover;
    filter: blur(var(--background-blur)) brightness(var(--background-darken));
  }

#app-mount .panels-j1Uci_ {
    background-color: var(--dark-transparent);
}
#app-mount .container-1D34oG {
    background-color: transparent;
}
#app-mount .wordmarkWindows-1v0lYD {
    color:white;
    background-image: var(--wordmark-image);
    background-position:65px;
    background-size: 20%;
    background-repeat: no-repeat;
    width: 65px;
}
#app-mount .wrapper-1BJsBx.selected-bZ3Lue .childWrapper-anI2G9, .wrapper-1BJsBx:hover .childWrapper-anI2G9 {
    background-color: white;
    color:black;
}
#app-mount .container-1D34oG {
    background-color: transparent;
}

/* Dynamic Scrollbar */
#app-mount .auto-Ge5KZx::-webkit-scrollbar-thumb, .auto-Ge5KZx::-webkit-scrollbar-track {
    background-color: var(--dark-transparent);
}

/* User popouts */
#app-mount .headerNormal-T_seeN {
    background-color: rgba(0,0,0,.8);
}
#app-mount .body-3iLsc4 {
    background-color: rgba(0,0,0,.9)
}
#app-mount .footer-1fjuF6 {
    background-color: rgba(0,0,0,.9);
}
#app-mount .protip-YaFfgO {
    visibility: hidden;
    margin-bottom: -15px;
}
#app-mount .headerSpotify-zpWxgT {
    background: var(--spotify-color);
}
#app-mount .headerPlaying-j0WQBV {
    background: var(--game-color);
}
#app-mount .container-3XJ8ns {
    background-color: rgba(0, 0, 0, 0.952);
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.082);
}
#app-mount .inner-2P4tQO {
    background-color: rgba(255, 255, 255, 0.055);
}
#app-mount .headerXbox-3G-4PF {
    background: var(--xbox-color);
}
#app-mount .headerStreaming-2FjmGz {
    background: var(--twitch-color);
}
#app-mount .headerTop-2y3V6H {
    background-color: rgba(0,0,0,.65);
}
#app-mount .avatar-22FtUu {
    background-color: rgba(0, 0, 0, 0.315);
}
#app-mount .textarea-2r0oV8 {
    background-color: rgba(255, 255, 255, 0.034);
}
#app-mount .input-cIJ7To.focused-1mmYsC, .input-cIJ7To:focus {
    border-color: rgba(255, 255, 255, 0.507);
}
#app-mount .input-2_SIlA {
    background-color: rgba(255, 255, 255, 0.068);
    
}

/*Main User PopOut */
#app-mount .infoScroller-3EYYns {
    background-color: rgba(0, 0, 0, 0.486);
}
#app-mount .header-QKLPzZ {
    background-color: rgba(0, 0, 0, 0.692);
    box-shadow: 0 0 4px 1px rgba(255, 255, 255, 0.212);
}
#app-mount .inner-1ilYF7 {
    box-shadow: 0 0 30px 2px rgba(255, 255, 255, 0.082);
}

/* Upload Area */
#app-mount .uploadModal-2ifh8j {
    background-color: rgba(0,0,0,.2)
}
#app-mount .uploadModal-2ifh8j .inner-3nWsbo .channelTextAreaUpload-3t7EIx {
    background-color: rgba(14, 14, 14, .4);
}
#app-mount .uploadModal-2ifh8j .footer-3mqk7D.hasSpoilers-1IRtQC {
    background-color: rgba(0,0,0,.2)
}

/* Nitro Tab */
#app-mount .applicationStore-1pNvnv {
    background-color: var(--dark-transparent);
}
#app-mount .buttonText-3LvUCc {
    visibility: hidden;
    margin: -60px;
    margin-right: 10px;
    padding: 5px;
}
#app-mount .buttonText-3LvUCc:after{
    content:"This is a scam";
    visibility: visible;  
}

/* emoji picker */
#app-mount .inspector-S2gM3e {
    background-color: rgba(0,0,0,.4);
}
#app-mount .emojiItem-14v6tW.emojiItemSelected-1aLkfV {
    background-color:rgba(41, 38, 38, 0.7);
}
#app-mount .emojiPickerInExpressionPicker-3IzIcv .emojiPicker-3PwZFl {
    background-color: var(--dark-transparent);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}
#app-mount .contentWrapper-SvZHNd {
    background-color: rgba(0,0,0,.4);
}
/* Emoji auto complete */
#app-mount .autocomplete-1vrmpx {
    background-color: rgba(0,0,0,.7);
    box-shadow: 0 0 10px 2px rgb(0, 0, 0);
}

/*Folder settings */
#app-mount .root-1gCeng {
    background-color: rgba(0,0,0,.2);
}
#app-mount .footer-2gL1pp {
    background-color: rgba(0,0,0,.2);
}
/* color picker */
#app-mount .colorPickerCustom-2CWBn2 {
    background-color: rgba(0,0,0,.2);
}


/* get rid of shitty gift button */
#app-mount .buttons-3JBrkn [aria-label="Send a gift"]{
    display: none !important;
}

/* Create Server */
#app-mount .colorHeaderPrimary-26Jzh- {
    color: white;
}
#app-mount .colorHeaderSecondary-3Sp3Ft {
    color: white;
}
#app-mount .close-hZ94c6 {
    color:white;
}
#app-mount .colorStandard-2KCXvj {
    color:white;
}
#app-mount .container-UC8Ug1 {
    background-color: rgba(14, 13, 13, 0.4)
}

/* Explore tab */
#app-mount .pageWrapper-1PgVDX {
    background-color: transparent;
}
#app-mount .menu-3sdvDG {
    background-color:rgba(0, 0, 0, .9);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

/* now playing (friend's list) */
#app-mount .nowPlayingColumn-2sl4cE {
    background-color: var(--dark-transparent);
}
#app-mount .inset-3sAvek {
    background-color: rgba(0,0,0,.9);
}
#app-mount .itemCard-v9viV7:first-of-type {
    background-color: rgba(0,0,0,.3);
}

/* members list */
#app-mount .addMembersButton-1eG9YC {
    display: none;
}

/* Search bar (slightly busted) */
#app-mount .container-3ayLPN {
    background-color: rgba(0,0,0,.5);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker {
    background-color: rgba(0,0,0,.9);
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__header {
    background-color: transparent;
}
#app-mount .calendarPicker-2yf6Ci .react-datepicker__day--outside-month {
    background-color: rgba(0,0,0,.5);
}
#app-mount .focused-2bY0OD{
    background-color: rgba(0,0,0,.5);
}
#app-mount .datePicker--XZbmJ .datePickerHint-3Q1Udw {
    background-color: rgba(0,0,0,.9);
    
}

/*Connection Indicator */
#app-mount .ping-2NgC8E{
    background: var(--connect-image) 100% no-repeat;
    background-size: 25px;
    padding: 5px;
    padding-left: 10px;  
}
#app-mount .rtcConnectionQualityFine-2J6i8z .pingForeground-2uAOZ3 {
    display: var(--connect-disable);
}

#app-mount .numberBadge-2s8kKX {
    background-color: var(--badge-color) !important;
}

/* Sidebar Width (channels) */
#app-mount .sidebar-2K8pFh   {
    width: var(--sidebar-width); 
}

/* side width (users) */
#app-mount .membersWrap-2h-GB4{
    width: var(--members-width);
    min-width: 0px;
}
#app-mount .members-1998pB, .members-1998pB>div {
    width: var(--members-width);
}

#app-mount .tooltipPointer-3ZfirK {
    border-top-color: rgba(0,0,0,.4);
}

#app-mount .tooltip-2QfLtc {
    background-color: rgba(0,0,0, .8);
    box-shadow: 0 0 5px 2px rgb(0, 0, 0);
}

#app-mount .jumpToPresentBar-G1R9s6 {
    background-color: rgba(0 ,0, 0, .6);
    box-shadow: 1px -8px 12px -4px rgba(0 ,0, 0, .8);
}

#app-mount .card-FDVird:before {
    background-color: var(--dark-transparent);
    border-color:  rgba(0, 0, 0, .6);
}
#app-mount .emojiAliasInput-1y-NBz .emojiInput-1aLNse {
    background-color: rgba(0, 0, 0, .3);
}

#app-mount .clickable-1JJAn8[id="private-channels-2"] {
    display: var(--nitro-garbage);
}
#app-mount .channel-2QD9_O[id="private-channels-1"] {
    display: var(--stage-garbage);
}
#app-mount .item-PXvHYJ[aria-controls="Discord Nitro-tab"], [aria-controls="Billing-tab"], [aria-controls="Nitro Server Boost-tab"] {
    display: var(--nitro-garbage);
}


/*Channels Sidebar */
#app-mount .name-3l27Hl {
    color:var(--channel-sidebar-header);
}

/* Server Dropdown Settings */
#app-mount .item-1tOPte[id="guild-header-popout-premium-subscribe"] {
    margin-top: -40px;
}

#app-mount .icon-22AiRD {
    color: white;
}

/*Search Bar Things */
#app-mount .resultsGroup-r_nuzN {
    background-color: rgba(0,0,0,.8);
}
#app-mount .option-96V44q:after {
    background-color:transparent;
    background-image: none;
}
#app-mount .option-96V44q.selected-rZcOL- {
    background-color: #5c6fb1;
}
#app-mount .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3 {
    background-color: #5c6fb1;
}

#app-mount .activity-fViXj7 {
    background-color: rgba(0,0,0,.7)
}

#app-mount .cozy-3raOZG .timestamp-3ZCmNB {
    color:rgb(214, 214, 214);
}

#app-mount .messagesPopout-24nkyi {
    background-color: rgba(0 ,0, 0, .9);
}
#app-mount .header-ykumBX {
    background-color: rgba(0 ,0, 0, .8);
}

#app-mount .accountList-33MS45 {
    background-color: rgba(0 ,0, 0, .4);
}
#app-mount .connectionHeader-2MDqhu {
    background-color: rgba(0 ,0, 0, .4);
}
#app-mount .connectionOptionsWrapper-3KIj1Z {
    background-color: rgba(0 ,0, 0, .2);
}
#app-mount .integrationsWrapper-VkM_zO {
    background-color: rgba(0 ,0, 0, .2);
}
#app-mount .integration-3kMeY4 {
    background-color: rgba(0 ,0, 0, .4);
    
#app-mount .userPopout-xaxa6l[aria-label="kyle"] .headerNormal-3KXFBt .popoutBanner-19WKGg{ 
    background: var(--profile-background) no-repeat !important;
}
